body {
	font-family: 'Roboto', sans-serif;
	background-color: #ECECEC;
}

#code-editor { 
    width: 100%;
    height: 400px;
}

#problem-title {
	font-size: 2rem;
}

.header {
	font-weight: 300 !important;
}

#welcome-message {
	font-size: 1.5rem;
	font-weight: 300;
}

#code-analysis { 
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 400px;
    overflow-y: scroll;
}

#problem-statement {
	min-height: 50px;
	max-height: 200px;
	overflow-y: scroll;
}

#problem-statement, #analysis-results {
	font-weight: 300;
}

#headline {
	font-size: 4rem;
	color: #9b59b6;
	font-family: 'Atma', cursive;
}
